<nav class="navbar-container">
  <h2 class="logo">INVENTORY WEBSITE</h2>
  <ul class="menu-items">
    <li><a href="/catalog">Home</a></li>
    <li><a href="/catalog/item">Items</a></li>
    <li><a href="/catalog/category">Categories</a></li>
  </ul>
</nav>