<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") -%>
  </head>
  <body>
    <div class="content">
      <aside class="sidebar"><%- include("../partials/sidebar") -%></aside>
      <main>
        <%- include("../partials/title") -%>
        <form class="create-form" action="" method="post">
          <label for="name">Category name</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Laptops, Monitors etc"
            required
          />

          <label for="description">Category description</label>
          <textarea
            type="text"
            name="description"
            id="description"
            placeholder="Some extra info"
            class="tall"
            rows="5"
            
          ></textarea>
          <button class="submit" type="submit">Submit</button>
        </form>
      </main>
    </div>
  </body>
</html>
